name: Bank Frontend CICD Pipeline

on:
  push:
    branches:
      - main

jobs:
  Continues-Integration_build_and_push:
    runs-on: ubuntu-latest    # FIXED (don't use self-hosted)

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Create .dockerignore to avoid tar errors
      run: |
        echo ".devcontainer" >> .dockerignore
        echo ".github" >> .dockerignore

    - name: Log in to awscli
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Log in to Amazon ECR
      run: |
        aws ecr get-login-password --region us-east-1 | \
        docker login --username AWS --password-stdin ${{ vars.ECR_REPO }}

    - name: Build container image
      run: docker buildx build --load -t bank-app-frontend:latest .

    - name: Tag Docker image
      run: docker tag bank-app-frontend:latest ${{ vars.ECR_REPO }}/bank-frontend:${{ github.run_number }}

    - name: Push image to ECR
      run: docker push ${{ vars.ECR_REPO }}/bank-frontend:${{ github.run_number }}

    - name: Cleanup images
      run: |
        docker rmi bank-app-frontend:latest || true
        docker rmi ${{ vars.ECR_REPO }}/bank-frontend:${{ github.run_number }} || true



  Continues-Update_k8s_manifest:
    runs-on: ubuntu-latest
    needs: Continues-Integration_build_and_push

    steps:
    - name: Checkout Kubernetes Manifest Repo
      env:
        GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
      run: |
        git clone https://${GIT_USERNAME}:${GIT_PASSWORD}@github.com/podsix-cloud/kubernetes-manifest.git
        cd kubernetes-manifest

        git config --global user.email "okoro.christianpeace@gmail.com"
        git config --global user.name "podsix-cloud"

        sed -i "s+${{ vars.ECR_REPO }}/bank-frontend:.*+${{ vars.ECR_REPO }}/bank-frontend:${{ github.run_number }}+g" \
        ./bank-project/frontend.yaml

        git add bank-project/frontend.yaml
        git commit -m "Update frontend image to version ${{ github.run_number }}"
        git push origin main

